  #searchicon:hover{
    cursor: pointer;
  }
  * {
      box-sizing: border-box;
    }

    nav, header, footer, main, aside{
      padding: 1em;
    }
    
    header{
      background-color:beige;
      color:black;
      text-align:center;
      font-size:50px;
      padding:25px 0px;
      margin:15px 35px; 
    }
    
    footer{
      color: white;
      background-color:  #1976D2;
    }

    body{
      margin: 0;
      background-color: #FFFFFF;
    }

    .col{
      display:flex;
      flex-direction:column;
    }

    .row{
      display:flex;
      flex-direction:row;
    }

/*Navigation Bar*/
    nav{
      color: white;
      background-color:  #1976D2;
      padding:0px 0px;
      text-align: center;
    }
  
    ul#navbar{
      list-style-type:none;
      text-align:center;
    }
  
    li{
      display: inline-block;
    }
  
    #homebutton{
      font-family: Arial, Helvetica, sans-serif;
      font-size:23px;
      padding:10px 20px;
      margin:10px 0px;
      background-color:lightgreen;
      border-color: green;
      cursor:pointer;
    }

    #allbirdsbutton{
      font-family: Arial, Helvetica, sans-serif;
      font-size:23px;
      padding:10px 20px;
      margin:10px 0px;
      background-color:lightgreen;
      border-color: green;
      cursor:pointer;
    }
    

    #birdlogo{
      height:60px;
      width:auto;
    }
  
    #searchbutton{
      font-family: Arial, Helvetica, sans-serif;
      font-size:18px;
      padding:5px;
      margin:20px 5px;
      background-color:white;
      border-color: green;
      width:280px;
    }
  
  #searchicon{
    height:25px;
    width:auto;
    margin: 3px 0px 0px 0px;
    padding:5px 0px 0px 0px;
  }
  #lihome{
    margin:10px 20px;
    padding: 10px 40px;
  }
  
  #liwebname{
    margin:10px 20px;
    padding: 10px 40px;
  }
  
  #lisearch{
    margin:10px 20px;
    padding: 10px 40px;
  }
/*Navigation Bar ^^^*/


  #contactus{
    margin:10px 20px;
    padding:10px 40px;
    font-size: 30px;
    color: beige;
  }

/* Style for the label */
label {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

/* Style for the email input */
#email {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

#email:focus {
  outline: none;
  border-color:yellow; 
  box-shadow: 0 0 5px white; 
}

#message{
   padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

#message:focus {
  outline: none;
  border-color:yellow; 
  box-shadow: 0 0 5px white; 

}
  
/*Footer*/
#footer1{
  text-align:right;
  margin: 10px 20px;
  padding: 0px 40px;
}

#liaboutus,#licontactus, #linorights{
  font-size:20px;
  margin: 5px, 10px;
  padding:0px 15px;
}

#footer2{
  text-align:left;
}

#birdlogo2{
  height:50px;
  width:auto;
}


#footer3{
  text-align:right;
}

#copyleft{
  font-size:17px;
}

#abtaside{
   margin: 0;
  padding: 0;
  background-image: url("images/scarlet ibis.jpeg");
  background-size: cover; 
}


#allmain{
  display:flex;
  flex-wrap:wrap;
  flex-grow:1;
  margin:10px;
  padding:30px;
  background-color:lightyellow;/*this could change etc, just click the box and it'll automatically change when u choose a colour*/
  justify-content:space-evenly;

#abtaside {
  position: relative; /* Set the position to relative for positioning the overlay text */
}

#scarlet {
  position: relative; 
}

.overlay-text {
  /*position: absolute;*/
  height: 300px; /*testing*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  
}

#backToTopButton {
  display: none;
  position: fixed;
  /*bottom: 20px;
  right: 20px;*/
  top: 90%;
  left: 90%;
  z-index: 1;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: lightgreen;
  border-color: green;
  cursor: pointer;
}

@media screen and (min-height: 500px) {
  
  #backToTopButton {
    display: block;
  }
}



